<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'All Contacts'}) %>
  </head>
  <body>
    <%- include('includes/navigation') %> <%- include('includes/footer') %>
  </body>
</html>
